
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chart</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-chip>Ngày</ion-chip>
<ion-chip [outline]="true">Tuần</ion-chip>
<ion-chip [outline]="true">Tháng</ion-chip>
<ion-content>
  <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
      <ion-card-title>Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
</ion-content>